/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap');

/* DOCUMENT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

html {scroll-behavior: smooth; }


/* CSS VARIABLES */
:root {
    --ff: 'Ubuntu', sans-serif;

    --fs-Secondary-Heading: clamp(2rem, 4vw, 4rem); 
    --fs-Primary-Heading: clamp(1rem, 3vw, 3rem); 
    --fs-Paragraph: clamp(0.8rem, 2vw, 2rem);

    --clr-secondary: #2F004E;
    --clr-primary-400: #B550F8;
    --clr-primary-200: #DAA8FC;
}