/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap');

/* DOCUMENT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

html {
    scroll-behavior: smooth; 
    font-family: var(--ff);
}


/* CSS VARIABLES */
:root {
    --ff: 'Ubuntu', sans-serif;

    --fs-Secondary-Heading: clamp(2rem, 4vw, 4rem); 
    --fs-Primary-Heading: clamp(1rem, 3vw, 3rem); 
    --fs-Paragraph: clamp(0.8rem, 2vw, 2rem);

    --clr-secondary: #2F004E;
    --clr-primary-400: #B550F8;
    --clr-primary-200: #DAA8FC;
    --clr-neutral: #fff;
}


/* UTILITY CLASSES */

.container {
    width: min(500px, 70%);
    display: grid;
    padding: 4rem, 2rem;
    margin-inline: auto;
}

.padding-buttom {
    padding-bottom: 1rem;
}


.header__nav {
    background-color: #2F004E;
}

nav {
    width: max(500px, 70%);
    display: flex;
    margin-inline: auto;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    margin-block: 4px;
    border-radius: 5px;
    background-color: var(--clr-neutral);
}


@media (min-width:50em) {
    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: var(--clr-neutral);
    }

    .menu {
        display: flex;
    }

    .menu li {
        margin-inline: 2rem;
        list-style: none;
    }

    .menu a {
        color: var(--clr-neutral);
        text-decoration: none;
    }

    .menu a:hover {
        background-color: var(--clr-neutral);
        color: var(--clr-primary-400);
        padding: 2rem;
        transition: 0.4s;
    }

}