/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap');

/* DOCUMENT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

html {
    scroll-behavior: smooth; 
    font-family: var(--ff);
}


/* CSS VARIABLES */
:root {
    --ff: 'Ubuntu', sans-serif;

    --fs-Secondary-Heading: clamp(2rem, 4vw, 4rem); 
    --fs-Primary-Heading: clamp(1rem, 3vw, 3rem); 
    --fs-Paragraph: clamp(0.8rem, 2vw, 2rem);

    --clr-secondary: #2F004E;
    --clr-primary-400: #B550F8;
    --clr-primary-200: #DAA8FC;
    --clr-neutral: #fff;
}


/* UTILITY CLASSES */

.container {
    width: min(500px, 70%);
    display: grid;
    padding: 4rem, 2rem;
    margin-inline: auto;
}

.padding-buttom {
    padding-bottom: 1rem;
}


.header__nav {
    background-color: #2F004E;
}

nav {
    width: max(500px, 70%);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-inline: auto;
    color: var(--clr-neutral);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    margin-block: 4px;
    border-radius: 5px;
    background-color: var(--clr-neutral);
    transition: 0.4s;
}

.hamburger.is-active :nth-child(1){
    transform: translate(-2px, 2px) rotate(45deg);
    transition: 0.4s;
}
.hamburger.is-active :nth-child(2){
   display: none;
}
.hamburger.is-active :nth-child(3){
    transform: translate(-2px, -6px) rotate(-45deg);
    transition: 0.4s;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
    background-color: var(--clr-secondary);
    width: 100vw;
    height: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.4s;
}


.menu.is-active {
    height: 400px;
}


.menu li {
    list-style: none;
    opacity: 0;
    transition: 0.4s;
}

.menu.is-active li {
    opacity: 1;
    transition: 0.4s;
}

.menu a {
    color: var(--clr-neutral);
    text-decoration: none;
}




@media (min-width:50em) {
    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: var(--clr-neutral);
    }

    .menu {
        display: flex;
        z-index: 0;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 0;
        height: 15px;
    }

    .menu li {
        margin-inline: 1rem;
        list-style: none;
        opacity: 1;
    }

    .menu a {
        color: var(--clr-neutral);
        text-decoration: none;
    }

    .menu a:hover {
        background-color: var(--clr-neutral);
        color: var(--clr-primary-400);
        padding: 2rem;
        transition: 0.4s;
    }

}