/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap');

/* DOCUMENT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

html {
    scroll-behavior: smooth; 
    font-family: var(--ff);
}


/* CSS VARIABLES */
:root {
    --ff: 'Ubuntu', sans-serif;

    --fs-Primary-Heading: clamp(2rem, 6vw, 6rem); 
    --fs-Secondary-Heading: clamp(2rem, 4vw, 4rem); 
    --fs-Secondary-Heading-2: clamp(1.5rem, 3vw, 3rem); 
    --fs-Paragraph: clamp(1rem, 2vw, 1.4rem);

    --clr-Primary: #2F004E;
    --clr-secondary-400: #B550F8;
    --clr-Secondary-200: #DAA8FC;
    --clr-neutral: #fff;
}


/* UTILITY CLASSES */

h1 {
    font-size: var(--fs-Primary-Heading);
}
h3 {
    font-size: var(--fs-Secondary-Heading);
    color: var(--clr-Primary);
}
h4 {
    font-size: var(--fs-Secondary-Heading-2);
    color: var(--clr-Primary);
}

p {
    font-size: var(--fs-Paragraph);
    color: var(--clr-secondary-400);
    line-height: 1.5;
}

.center-div {
    display: flex;
    justify-content: center;
}

.container {
    width: min(1400px, 80%);
    display: grid;
    padding: 3rem 0.5rem;
    margin-inline: auto;
    gap: 3rem;
}

.icons {
    width: 80px;
    height: auto;
    background-color: var(--clr-secondary-400);
    padding: 25px;
    border-radius: 50px;
}

.social-icons {
    width: 60px;
    height: 60px;
    background-color: var(--clr-secondary-400);
    padding: 25px;
    border-radius: 50px;
}

.padding-block {
    margin-block: 1rem;
}

.primary-button {
    padding: 1rem 3.5rem;
    background-color: var(--clr-Primary);
    border: none;
    border-radius: 10px;
    color: var(--clr-neutral);
    font-weight: 900;
    cursor: pointer;
}

.secondary-button {
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-secondary-400);
    color: var(--clr-neutral);
    font-weight: 900;
    cursor: pointer;
}

/* GENERAL STYLES */

.header__nav {
    background-color: var(--clr-neutral);
    position: fixed;
    right: 0;
    left: 0;
}

nav {
    width: max(100px, 70%);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-inline: auto;
    color: var(--clr-Primary);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    margin-block: 4px;
    border-radius: 5px;
    background-color: var(--clr-Primary);
    transition: 0.4s;
}

.hamburger.is-active :nth-child(1){
    transform: translate(-2px, 2px) rotate(45deg);
    transition: 0.4s;
}
.hamburger.is-active :nth-child(2){
   display: none;
}
.hamburger.is-active :nth-child(3){
    transform: translate(-2px, -6px) rotate(-45deg);
    transition: 0.4s;
}

.menu {
    position: absolute;
    top: 59px;
    left: 0;
    z-index: -1;
    background-color: var(--clr-neutral);
    width: 100vw;
    height: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.4s;
}


.menu.is-active {
    height: 400px;
    z-index: 99;
}


.menu li {
    list-style: none;
    opacity: 0;
    transition: 0.4s;
}

.menu.is-active li {
    opacity: 1;
    transition: 0.4s;
}

.menu a {
    color: var(--clr-Primary);
    text-decoration: none;
}

.hero__section {
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-image: url(./css/images/unsplash_6liebVeAfrY.png);
}

.mini__hero__section {
    height: 400px;
    background-color: var(--clr-Primary);
    width: 100%;
    padding: 8rem 2rem;
}

.hero__contents {
    color: var(--clr-neutral);
    text-align: center;
    padding-top: 10rem;
    margin-inline: auto;
    width: min(1300px, 80%);
}

.hero__contents p {
    color: var(--clr-neutral);
}


.hero__buttons {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}

.statistics-card:nth-child(1) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem;
    border-radius: 10px 0px 0 10px;
    
}

.statistics-card:nth-child(2) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem;
    background-color: var(--clr-Secondary-200);
}

.statistics-card:nth-child(3) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem;
    border-radius: 0px 10px 10px 0px;
}

.features {
    display: flex;
    flex-direction: column;
}


.features-card {
    border: 1px solid var(--clr-secondary-400);
    padding: 3rem;
    border-radius: 10px;
}



.events-team-posts {
    background-color: var(--clr-Primary);
    padding: 1rem;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.event-heading {
    color: var(--clr-neutral);
}

.teams-card {
    border: 1px solid var(--clr-secondary-400);
    border-radius: 10px;
    padding: 2rem;
}

.teams-section {
    display: grid;
    gap: 2rem;
}

.testimonial-section {
    display: grid;
    gap: 2rem;
}
.testimonial {
    border: 1px solid var(--clr-secondary-400);
    padding: 3rem;
    border-radius: 10px;
}

.testimonial-container {
    width: min(1400px, 80%);
    display: flex;
    flex-direction: column;
    padding: 3rem 0.5rem;
    margin-inline: auto;
    gap: 3rem;
}

.contact-card {
    background-color: var(--clr-Primary);
    margin-inline: auto;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    border-radius: 10px;
    color: var(--clr-neutral);

}

.footer-section {
    background-color: var(--clr-Primary);
    padding: 2rem;
}

.footer-section li {
    list-style: none;
}

.footer-section a {
    text-decoration: none;
    color: var(--clr-neutral);
    line-height: 2;
}

.socials {
    display: flex;
    align-items: center;
}

.divider {
    width: auto;
    height: 1px;
    background-color: var(--clr-secondary-400);
    margin-block: 4rem;
}




/* CONTACT SECTION */

.contact-section {
    background-image: url(./css/images/map.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}


.contact-form {
    background-color: var(--clr-neutral);
    width: 300px;
    padding: 1.5rem;
    border-radius: 10px;
}

.contact-form input {
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-block: 0.5rem;
    border: 1px solid var(--clr-secondary-400);
}

.contact-form textarea {
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-block: 0.5rem;
    border: 1px solid var(--clr-secondary-400);
}

.cti {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* ABOUT PAGE */

.blog-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-section div:nth-child(1){
    grid-area: post1;
}

.blog-section:nth-child(2){
    grid-area: post2;
}

.blog-section:nth-child(3){
    grid-area: post3;
}

.blog-section:nth-child(4){
    grid-area: post4;
}

.blog-section:nth-child(5){
    grid-area: post5;
}

.blog-post {
    border: 1px solid var(--clr-secondary-400);
    border-radius: 10px;
}

.blog-text {
    padding: 1rem;
}

.blog-page {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}



.newsletter {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.newsletter input {
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--clr-Primary);
}


.portfolio-postss {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.proj {
    padding-inline: 20rem;
    text-align: center;
}

.proj li {
    list-style: none;
    line-height: 2;
    color: var(--clr-Primary);
}

.proj-pics {
    
}






/* MEDIA QUERIES (DESKTOP VIEW) */

@media (min-width:70em) {
    .hamburger {
        display: none;
    }

    .header__nav {
        position: fixed;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: var(--clr-Primary);
    }

    .menu {
        display: flex;
        z-index: 0;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 0;
        height: 15px;
        background-color: transparent;
    }

    .menu li {
        margin-inline: 1rem;
        list-style: none;
        opacity: 1;
    }

    .menu a {
        color: var(--clr-Primary);
        text-decoration: none;
        font-weight: 900;
    }

    .menu a:hover {
        background-color: var(--clr-Primary);
        color: var(--clr-neutral);
        padding: 1rem;
        transition: 0.4s;
        font-weight: 900;
        border-radius: 10px;
    }

    .hero__section {
        padding-block: 2rem;
    }

    .mini__hero__section {
        padding: 8rem;
    }


    .hero__contents {
        padding: auto;
    }

    .hero__buttons {
        padding-top: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .container {
        padding-block: 5rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 4rem;
    }

    .statistics {
        display: flex;
        justify-content: center;
    }

    
    .statistics-card:nth-child(1) {
        border: 1px solid var(--clr-Secondary-200);
        padding: 2rem;
        width: 400px;
        border-radius: 10px 0px 0 10px;
        
    }

    .statistics-card:nth-child(2) {
        border: 1px solid var(--clr-Secondary-200);
        padding: 2rem;
        width: 400px;
        background-color: var(--clr-Secondary-200);
    }

    .statistics-card:nth-child(3) {
        border: 1px solid var(--clr-Secondary-200);
        padding: 2rem;
        width: 400px;
        border-radius: 0px 10px 10px 0px;
    }

    .features {
        flex-direction: row;
        
    }


    .focus-2 {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .events {
        flex-direction: row;
    }
    
    .events-team-posts {
        padding: 4rem;
    }
    .teams-section {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .blog-layout {
        display: flex;
    }

    .testimonial-section {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .testimonial-container {
        flex-direction: column;
    }

    .contact-card {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        padding: 6rem;
    }

    .footer-section {
        padding: 6rem;
    }

    .footer-tags {
        display: grid;
        grid-auto-flow: column;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .contact-section {
        padding: 4rem;
    }

    .contact-form {
        background-color: var(--clr-neutral);
        width: 500px;
        padding: 4rem;
        border-radius: 10px;
    }


    /* ABOUT PAGE MEDIA QUERIES */
    .blog-section {
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "post1 post1 post2 post3"
        "post1 post1 post4 post5"
        ;
    }


    /* BLOG */

    .blog-page {
        flex-direction: row;
    }

    .newsletter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .portfolio-postss {
        flex-direction: row;
    }
}