/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap');

/* DOCUMENT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

html {
    scroll-behavior: smooth; 
    font-family: var(--ff);
}


/* CSS VARIABLES */
:root {
    --ff: 'Ubuntu', sans-serif;

    --fs-Primary-Heading: clamp(2rem, 6vw, 6rem); 
    --fs-Secondary-Heading: clamp(2rem, 5vw, 4rem); 
    --fs-Paragraph: clamp(1rem, 2vw, 1.4rem);

    --clr-Primary: #2F004E;
    --clr-secondary-400: #B550F8;
    --clr-Secondary-200: #DAA8FC;
    --clr-neutral: #fff;
}


/* UTILITY CLASSES */

h1 {
    font-size: var(--fs-Primary-Heading);
}
h3 {
    font-size: var(--fs-Secondary-Heading);
    color: var(--clr-Primary);
}

p {
    font-size: var(--fs-Paragraph);
    color: var(--clr-secondary-400);
}

.container {
    width: min(1400px, 80%);
    display: grid;
    padding: 3rem 0.5rem;
    margin-inline: auto;
    gap: 3rem;
}

.padding-block {
    padding-block: 1rem;
}

.primary-button {
    padding: 1rem 3.5rem;
    background-color: var(--clr-Primary);
    border: none;
    border-radius: 10px;
    color: var(--clr-neutral);
    font-weight: 900;
    cursor: pointer;
}

.secondary-button {
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-secondary-400);
    color: var(--clr-neutral);
    font-weight: 900;
    cursor: pointer;
}

/* GENERAL STYLES */

.header__nav {
    background-color: var(--clr-neutral);
    position: fixed;
    right: 0;
    left: 0;
}

nav {
    width: max(100px, 70%);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-inline: auto;
    color: var(--clr-Primary);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    margin-block: 4px;
    border-radius: 5px;
    background-color: var(--clr-Primary);
    transition: 0.4s;
}

.hamburger.is-active :nth-child(1){
    transform: translate(-2px, 2px) rotate(45deg);
    transition: 0.4s;
}
.hamburger.is-active :nth-child(2){
   display: none;
}
.hamburger.is-active :nth-child(3){
    transform: translate(-2px, -6px) rotate(-45deg);
    transition: 0.4s;
}

.menu {
    position: absolute;
    top: 59px;
    left: 0;
    z-index: -1;
    background-color: var(--clr-neutral);
    width: 100vw;
    height: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.4s;
}


.menu.is-active {
    height: 400px;
    z-index: 99;
}


.menu li {
    list-style: none;
    opacity: 0;
    transition: 0.4s;
}

.menu.is-active li {
    opacity: 1;
    transition: 0.4s;
}

.menu a {
    color: var(--clr-Primary);
    text-decoration: none;
}

.hero__section {
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-image: url(./css/images/unsplash_6liebVeAfrY.png);
}

.hero__contents {
    color: var(--clr-neutral);
    text-align: center;
    padding-top: 10rem;
    margin-inline: auto;
    width: min(1300px, 80%);
}

.hero__contents p {
    color: var(--clr-neutral);
}


.hero__buttons {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}

.statistics-card:nth-child(1) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem 12rem 2rem 2rem;
    border-radius: 10px 0px 0 10px;
}

.statistics-card:nth-child(2) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem 12rem 2rem 2rem;
    background-color: var(--clr-Secondary-200);
}

.statistics-card:nth-child(3) {
    border: 1px solid var(--clr-Secondary-200);
    padding: 2rem 12rem 2rem 2rem;
    border-radius: 0px 10px 10px 0px;
}





@media (min-width:60em) {
    .hamburger {
        display: none;
    }

    .header__nav {
        position: fixed;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: var(--clr-Primary);
    }

    .menu {
        display: flex;
        z-index: 0;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 0;
        height: 15px;
        background-color: transparent;
    }

    .menu li {
        margin-inline: 1rem;
        list-style: none;
        opacity: 1;
    }

    .menu a {
        color: var(--clr-Primary);
        text-decoration: none;
        font-weight: 900;
    }

    .menu a:hover {
        background-color: var(--clr-Primary);
        color: var(--clr-neutral);
        padding: 1rem;
        transition: 0.4s;
        font-weight: 900;
        border-radius: 10px;
    }

    .hero__contents {
        padding: auto;
    }

    .hero__buttons {
        padding-top: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .container {
        padding-block: 5rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
        gap: 4rem;
    }

    .statistics {
        display: flex;
        justify-content: center;
    }

}